<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mntsoft.hunterjeans">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <!--<uses-permission android:name="android.intent.action.CALL_PRIVILEGED" />-->


    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->

    <!--&lt;!&ndash; Accessing camera hardware &ndash;&gt;-->
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.mntsoft.hunterjeans.application.AppController"
        android:allowBackup="false"
        android:icon="@mipmap/hunter_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/MyMaterialTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--<meta-data-->
            <!--android:name="com.google.android.gms.version"-->
            <!--android:value="@integer/google_play_services_version" />-->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name="com.mntsoft.hunterjeans.SplashScreen"
            android:theme="@style/SplashScreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mntsoft.hunterjeans.BranchDetailsListActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.mntsoft.hunterjeans.ScanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mntsoft.hunterjeans.BillingReport"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.mntsoft.hunterjeans.WStockinhand"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.mntsoft.hunterjeans.StockReceive"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.mntsoft.hunterjeans.ItemsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.mntsoft.hunterjeans.BStockinhand"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.mntsoft.hunterjeans.SalesReport"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.mntsoft.hunterjeans.BankDeposit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.mntsoft.hunterjeans.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.mntsoft.hunterjeans.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.mntsoft.hunterjeans.OTPVerification"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.mntsoft.hunterjeans.AdminApprovalStatus"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.mntsoft.hunterjeans.billing.ProductAddActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.mntsoft.hunterjeans.billing.BillingActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>
